<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS • TodoMVC</title>
  <link rel="stylesheet" href="css/styles.css">
  <style>
    [ng-cloak] {
      display: none !important;
    }
  </style>
</head>

<body ng-app="todoApp">
  <section class="todoapp" ng-controller="AppCtrl">
    <header class="header">
      <h1>todos</h1>
      <form ng-submit="create()">
        <input ng-model="title" class="new-todo" placeholder="What needs to be done?">
      </form>
    </header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" ng-class="{ hidden: todos.length === 0 }">
      <input id="toggle-all" class="toggle-all" type="checkbox"
        ng-model="allCompleted"
        ng-change="syncAll()"
      >
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list" ng-cloak>
        <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
        <li ng-repeat="todo in todos track by todo.id"
          ng-controller="ItemCtrl as vm"
          ng-class="{ editing: vm.editMode, completed: vm.todo.completed }"
        >
          <div class="view">
            <input class="toggle" type="checkbox"
              ng-checked="vm.todo.completed"
              ng-on-change="vm.toggle()"
            >
            <label ng-dblclick="vm.beginEdit()">{{ vm.todo.title }}</label>
            <button ng-click="remove(vm.todo)" class="destroy"></button>
          </div>
          <input class="edit"
            ng-model="vm.editText"
            ng-blur="vm.endEdit()"
            ng-keyup="vm.handleKey($event)"
          >
        </li>
      </ul>
    </section>
    <footer class="footer" ng-class="{ hidden: todos.length === 0 }">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </section>
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="https://lean-stack.de">Micha Alt</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>

  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/angular.js"></script>
  <script src="js/libs/angular-route.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/controllers/app.controller.js"></script>
  <script src="js/controllers/item.controller.js"></script>
  <script src="js/services/todo-store.service.js"></script>
</body>

</html>
